*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-image: url('FEDPODAM-267488385.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
background-color: crimson;
}

.list{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.links{
    text-decoration: none;
}

