*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-image: url('FEDPODAM-267488385.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
background-color: 0,0,0,2;
padding: 10px;
}

.list{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.links{
    text-decoration: none;
    font-size: 14px;
    font-style: oblique;
    color: maroon;
}
.link-list{
    background-color: white;
    border-radius:10px;
    padding: 5px;
    color: maroon;
}
.link-list:hover{
    background-color:maroon;
}
.link-list:hover .links{
    background-color: maroon;
    color: white;
}
.txtbox{
    padding: 5px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 400;
    outline: none;

}
.btn{
    padding:5px;
    border-radius: 10px;
    color: white;
    background-color: maroon;
}
.btn:hover{
    background-color: white;
    color: maroon;
}
.main{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.heading{
    font-size: xx-large;
    color: white;
    padding: 10px;
}

.ptext{
    margin-top: 10px;
    color: white;
}
.fedpodam .portfolio{
    width: 50%;
}
.pic{
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0,0,0,4;
}