*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-image: url('fedpoly-logo.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:auto;
    background-color: maroon;
    background-attachment: fixed;
}

.navbar{
background-color: 0,0,0,2;
padding: 10px;
}

.list{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.links{
    text-decoration: none;
    font-size: 14px;
    font-style: oblique;
    color: maroon;
}
.link-list{
    background-color: white;
    border-radius:10px;
    padding: 5px;
    color: maroon;
}
.link-list:hover{
    background-color:maroon;
}
.link-list:hover .links{
    background-color: maroon;
    color: white;
}
.txtbox{
    padding: 5px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 400;
    outline: none;

}
.btn{
    padding:5px;
    border-radius: 10px;
    color: white;
    background-color: maroon;
}
.btn:hover{
    background-color: white;
    color: maroon;
}
.main{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.heading{
    font-size: 50px;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 12px maroon;
    margin-bottom: 50px;
}

.ptext{
    margin-top: 10px;
    color: white;
}
.fedpodam .portfolio{
    width: 50%;
}
.pic{
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0,0,0,4;
}
.fedpodam{
    margin-bottom: 50px;
}

.footer{
    width: 100%;
    margin-top: 120px;
    padding: 10px;
    background-color: rgb(29, 1, 1);
    color: white;
}

.pic{
    border-radius: 10px;
    box-shadow: 2px 2px 2px white;
    width: 250px;
    height:300px;
}

@media screen and (max-width: 450px){
.list{
    flex-direction: column;
    width:fit-content
}    
.link-list{
    width:fit-content;
}
.main{
    flex-direction: column;
}
}